.DS_Store

*.mod

//실행파일
*.exe
*.exec
*.app
*.dll
*.exe
*.o
*.so
*.com
*.class

//로그파일
*.log
logs/

//문서파일
*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx

//패키지 파일
*.dmg
*.iso
*.tar
*.zip
*.gz

//vscode setting 파일
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

